.traffic-box {
    height: 450px;
    width: 150px;
    background-color: #1f1d41;
    border-radius: 35px;
    margin: 65px;

}

.traffic-light-container {
    background-color: #86d2f2;
    height: 100vh;

}

.button {
    height: 45px;
    width: 180px;
    margin: 35px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.button-container {
    margin-top: 100px;
    margin-bottom: 25px;
}

.bulb {
    background-color: #4b5069;
    height: 75px;
    width: 70px;
    margin: 45px;
    margin-right: 18px;
    border-radius: 45px;
    border-width: 0px;
}

.button-1 {
    margin-top: 50px;
}

.button-2 {
    margin: 50px;
}